* {
    font-family: "Geomanist";
    font-weight: 500;
}

.my-container {
    max-width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: none;
    outline: none;
    border-radius: 5px !important;
    font-size: 16px !important;
    padding: 1.2rem 2.5rem;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    color: #fff;
}

.primary-button {
    background: linear-gradient(45deg, #fa1d8f, #175ead);
}

.secondary-button {
    background: linear-gradient(45deg, #ffb306, #6ca42f);
}

.locator-text {
    font-family: "LibreBaskerville";
    font-weight: 400;
    font-size: 20px;
    width: fit-content;
}

.locator-gradiant {
    background: -webkit-linear-gradient(45deg, #fa1d8f, #175ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.locator-white {
    color: #fff;
}

.big-h1 {
    font-size: 80px !important;
}

h1 {
    font-size: 4rem !important;
    font-family: "Geomanist";
    font-weight: 200 !important;
}

h1 b {
    font-weight: 500 !important;
}

.darkh1 {
    color: #2b2a2a;
}

.lighth1 {
    color: #fff;
}

h4 {
    font-size: 50px !important;
    font-family: "Geomanist";
    font-weight: 200 !important;
}

h4 b {
    font-weight: 500 !important;
}

h6 {
    font-size: 40px !important;
    color: #2b2a2a;
    font-family: "Geomanist";
    font-weight: 200 !important;
}

h6 b {
    font-family: "Geomanist book";
}

.h6-small {
    font-size: 28px !important;
    font-weight: 500 !important;
}

.desc {
    font-family: "Geomanist";
    font-weight: 200;
    font-size: 18px;
    color: #616161;
}

.desc b {
    font-family: "Geomanist book";
}

.white-desc {
    font-family: "Geomanist book";
    color: #fff;
}

.head-desc {
    font-family: "Geomanist book";
    color: #fff;
    font-size: 30px;
}

.desc-big {
    font-size: 22px;
    color: #2b2a2a;
    font-family: 'Geomanist book';
}

.hover-box {
    display: block;
    position: absolute;
    background: transparent;
    bottom: -88%;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    transition: 0.6s;
}




.herosection {
    background: url(img/banner1.png) no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;

}

.my-nav .nav-link {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.my-nav .nav-link:focus {
    color: #3a3a3a;
}

.my-nav .navbar-nav {
    flex-grow: 2;
    margin: 0 3rem;
}

.my-nav .navbar-call-btn {
    font-size: 20px !important;
    text-transform: capitalize !important;
    padding: 0;
}

.banner {
    padding: 8rem 0 24rem 0;
}

.booking-form-section {
    background: #f2f5f4;
}

.booking-form {
    margin-top: -9rem;
    background: #fff;
    border-radius: 5px;
    padding: 2.4rem;
    box-shadow: 1px 0px 5px #33333394;
    position: relative;
    z-index: 2;
}

.booking-form .col-lg-3 {
    border-right: 1px solid #e7e7e7;
}

.booking-form form {
    padding: 0 20px 0 80px;
}

.booking-form-input {

    font-family: "Geomanist book";
    font-size: 16px;
    border-bottom: 1px solid #484848;
    outline: none;
    border-top: none;
    width: 100%;
    border-left: none;
    border-right: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: none;
}

.booking-form-input:focus {
    border-bottom: 2px solid #fa1d8f !important;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.booking-form-input:focus::placeholder {
    color: transparent;
    border: none;
}

.tnc-div {
    margin: 1rem 0;
}

.booking-form form input[type='checkbox'] {
    width: auto;
}

.booking-form form .tnc {
    font-family: "Geomanist book";
    font-size: 15px;
    color: #484848;
}

.booking-form form .tnc span {
    color: #5788be;
}




.welcome {
    background: url(img/banner2.png);
}

.welcome-content {
    padding: 5rem 0;
}

.welcome-content .content {
    width: 92%;
}



.banner-two {
    background: url(img/banner3.png) no-repeat;
    background-size: cover;
}

.banner-two .col-lg-6 {
    padding: 10rem 0;
}


.gallery {
    background-color: #f4f4f4;

}

.gallery h1 {
    font-size: 2.7rem !important;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 6rem 0;
}

.grid-parent>div {
    margin: 1rem;
    height: min-content;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.grid-parent>div img {
    height: 100%;
    width: 100%;
}

.grid-parent>div:hover .hover-box {
    background: url(img/gridOverlay.png);
    bottom: 0;
    opacity: 90%;

}



.our-projects {
    background-color: #f5ece2;
    padding: 6rem 0;
}

.view-all-btn-div {
    align-items: center;
    justify-content: center;
    display: flex;
}

.grid-parent2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.my-nav-tab .nav-tabs {
    border-bottom: 1px solid #decfbc !important;
    margin: 3rem 0 !important;
}

.my-nav-tab .nav-link {
    color: #b7ac9e !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
}

.my-nav-tab .nav-link.active {
    background: none !important;
    border-bottom: 3px solid #e63f2f !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    color: #2b2a2a !important;
    border-radius: 0 !important;
}

.grid-parent2>div {
    margin: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.grid-parent2>div .hover-box {
    bottom: -100%;
}

.grid-parent2>div:hover .hover-box {
    background: url(img/cardOverlay.png);
    bottom: 0;
    opacity: 90%;

}


.why-choose-us {
    background: url(img/banner4.png);
}

.why-choose-us-content {
    padding: 5rem 0;
}

.reasons {
    margin: 5rem 0px;
    display: inline-flex;
}

.reasons>div {
    margin: 0 2px 0 0;
    padding: 3rem 2rem;

}

.reasons>div:nth-child(2n+1) {
    background-color: #fffcee;
}

.reasons>div:nth-child(2n) {
    background-color: #f4ffe5;
    border-right: 1px solid transparent;
}

.how-we-do {
    background: url(img/howWeDo.png) no-repeat;
    background-size: cover;
}

.how-we-do .inner-content {
    padding: 5rem 0 28rem 0;
}

.how-we-do .steps {
    margin: 5rem 0;
}


.faq-container {
    padding: 5rem 0;
}

.faq-container .row {
    margin: 1rem 0;
}

.faq-container .accordion-item {
    border-left: none !important;
    border-right: none !important;
}

.faq-container .accordion-button {
    font-size: 22px !important;
    border: none !important;
    font-weight: 200;
}

.faq-container .accordion-button::after {
    content: "+" !important;
    background: none !important;
}

.faq-container .accordion-button:not(.collapsed)::after {
    content: "-" !important;
}

.faq-container .accordion-button:not(.collapsed) {
    color: #ef375d !important;
    background-color: #fff !important;
    box-shadow: none !important;

}






.news {
    background-color: #f4f4f4;
}

.news-container {
    padding: 5rem 0;
}

.news-col {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    margin: 3rem 0;
}

.news-col .hover-box {
    bottom: -80%;
    padding: 1rem;
}

.news-col:hover .hover-box {
    background: url(img/blogoverlay.png) no-repeat;
    bottom: 0;
    opacity: 90%;

}

.news .date {
    font-size: 14px;
    color: #fff;
    margin: 0 !important;
}



.contact-us {
    background: url(img/con-us.png) no-repeat;
}

.contact-us-container {
    padding: 5rem 0;
}

.contactus-left {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.booking-form2 form {
    padding: 2rem 0;
}

.booking-form2 .booking-form-input {
    border-bottom: 1px solid #9e42c9;
    margin-bottom: 2rem;
}

.booking-form-input::placeholder,
.booking-form2 form textarea::placeholder {
    font-weight: 200 !important;
}

.booking-form2 form textarea {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #ae80c4;
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
}

.booking-form2 form textarea {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.booking-form2 form textarea:focus {
    border-bottom: 2px solid #fa1d8f !important;
}


.footer{
background-color:#2d2e42;}
.main-footer{
    border-bottom: 1px solid #404152;    padding: 6rem 0;
}
.main-footer .left-side{
    border-right: 1px solid #404152;    padding: 0 10rem 0rem 0;
}
.main-footer .left-side img{
margin-bottom: 2rem;}
.main-footer .head-desc{
    font-size: 22px;
}
.main-footer .desc{
    color:#9fa0b1;
}
.main-footer .right-side ul {
    list-style: none;    margin: 0;
    padding: 0;
}
.main-footer .right-side ul li {margin: 1rem 0;}
.main-footer .right-side .contact-info-col{
    display: flex;
    align-items: center;
    
}
.main-footer .right-side .contact-info-col .desc{
margin: 0 0 0 6px;
}


.sub-footer div{
    display: flex;    justify-content: space-between;    align-items: center;    padding: 1rem 0;
}
.sub-footer-icons img{
    margin: 0 10px 0 0;
}
.terms, .terms:hover{
    color: #9899a9; text-decoration: none;margin: 0;font-size: 14px;}
.Privacy, .Privacy:hover
{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin: 0 1rem;
    border-left: 1px solid  #9899a9;
    border-right: 1px solid  #9899a9;
    padding: 0px 1rem;
}


@media screen and (max-width:1199px) {
    .reasons>div {
        margin: 0 0px 2px 0;
    }

    .reasons {
        margin: 5rem 0px;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .grid-parent {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:769px) {
    .grid-parent {
        grid-template-columns: 1fr;
    }

    .grid-parent2 {
        grid-template-columns: 1fr;
    }
}