* {
    font-family: "Geomanist";
    font-weight: 500;
}

.my-container {
    max-width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: none;
    outline: none;
    border-radius: 5px !important;
    font-size: 16px !important;
    padding: 1.2rem 2.5rem;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    color: #fff;
    margin: 1rem 0 !important;
}

.primary-button {
    background: linear-gradient(45deg, #fa1d8f, #175ead);
}

.secondary-button {
    background: linear-gradient(45deg, #ffb306, #6ca42f);
}

.locator-text {
    font-family: "LibreBaskerville";
    font-weight: 400;
    font-size: 20px;
    width: fit-content;position: relative;
}
.locator-text::after{
    content:"";background: -webkit-linear-gradient(45deg, #fa1d8f, #00d0ff);    
    position: absolute;
    left: -15px;
    bottom: -6px;
    width: 90%;
    height: 3px;
}

.locator-gradiant {
    background: -webkit-linear-gradient(45deg, #fa1d8f, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.locator-white {
    color: #fff;
}

.big-h1 {
    font-size: 80px !important;
}

h1 {
    font-size: 4rem !important;
    font-family: "Geomanist";
    font-weight: 200 !important;
}

h1 b {
    font-weight: 500 !important;
}

.darkh1 {
    color: #2b2a2a;
}

.lighth1 {
    color: #fff;
}

h4 {
    font-size: 50px !important;
    font-family: "Geomanist";
    font-weight: 200 !important;
}

h4 b {
    font-weight: 500 !important;
}

h6 {
    font-size: 40px !important;
    color: #2b2a2a;
    font-family: "Geomanist";
    font-weight: 200 !important;
    padding-bottom: 1rem;
}

h6 b {
    font-family: "Geomanist book";
}

.h6-small {
    font-size: 28px !important;
    font-weight: 500 !important;
}
.desc-hero{
    color: #616161;font-size: 30px;
}
.desc {
    font-family: "Geomanist";
    font-weight: 200;
    font-size: 18px;
    color: #616161;
}

.desc b {
    font-family: "Geomanist book";
}

.white-desc {
    font-family: "Geomanist book";
    color: #fff;
}

.head-desc {
    font-family: "Geomanist book";
    color: #fff;
    font-size: 30px;
}

.desc-big {
    font-size: 22px;
    color: #2b2a2a;
    font-family: 'Geomanist book';
}

.hover-box {
    display: block;
    position: absolute;
    background: transparent;
    bottom: -88%;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    transition: 0.6s;
}

.hover-box .white-desc{
    display: none;
}


.herosection {
    background: url(img/banner1.png) no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;

}

.my-nav .nav-link {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.my-nav .nav-link:focus {
    color: #3a3a3a;
}

.my-nav .navbar-nav {
    flex-grow: 2;
    margin: 0 3rem;
}

.my-nav .navbar-call-btn {
    font-size: 20px !important;
    text-transform: capitalize !important;
    padding: 0;
}

.callicon {
    margin-right: 10px;
}

.banner {
    padding: 8rem 0 20rem 0;
}

.booking-form-section {
    background: #f2f5f4;
}

.booking-form {
    margin-top: -9rem;
    background: #fff;
    border-radius: 5px;
    padding: 2.4rem;
    box-shadow: 1px 0px 5px #33333394;
    position: relative;
    z-index: 2;
}

.booking-form .col-lg-3 {
    border-right: 1px solid #e7e7e7;
}

.booking-form form {
    padding: 0 20px 0 80px;
}

.booking-form-input {

    font-family: "Geomanist book";
    font-size: 16px;
    border-bottom: 1px solid #484848;
    outline: none;
    border-top: none;
    width: 100%;
    border-left: none;
    border-right: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: none;
}

.booking-form-input:focus {
    border-bottom: 2px solid #fa1d8f !important;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.booking-form-input:focus::placeholder {
    color: transparent;
    border: none;
}

.tnc-div {
    margin: 1rem 0;
}

.booking-form form input[type='checkbox'] {
    width: auto;
}

.booking-form form .tnc {
    font-family: "Geomanist book";
    font-size: 15px;
    color: #484848;
}

.booking-form form .tnc span {
    color: #5788be;
}


.navbar-nav .dropdown-menu {
    position: absolute ;
    background: linear-gradient(45deg, #ed248f, #2e5ba7);
    border: none;
    margin: 0;padding: 0;
}
.dropdown-item:active ,.dropdown-item:focus, .dropdown-item:hover {
    color: #fff !important;
    background-color: #e9ecef47 !important;
    font-weight: 500 !important;
}
.dropdown-item {
    padding: 15px !important;
    color: #fff !important;
}









.welcome {
    background: url(img/banner2.png) no-repeat;
    background-size: cover;
}

.welcome-content {
    padding: 5rem 0;
}

.welcome-content .content {
    width: 92%;
}

.content:nth-child(2) h6 {
    padding: 2rem 0 1rem 0;
}


.banner-two {
    background: url(img/banner3.png) no-repeat;
    background-size: cover;
}

.banner-two .col-lg-6 {
    padding: 10rem 0;
}


.gallery {
    background-color: #f4f4f4;

}

.gallery h1 {
    font-size: 2.7rem !important;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 6rem 0;
}

.grid-parent>div {
    margin: 1rem;
    height: min-content;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.grid-parent>div img {
    height: 100%;
    width: 100%;
}

.grid-parent>div:hover .hover-box {
    background: url(img/gridOverlay.png);
    bottom: 0;
    opacity: 90%;

}
.grid-parent>div:hover .hover-box .white-desc {
display: block;}

.our-projects {
    background-color: #f5ece2;
    padding: 6rem 0;
}

.view-all-btn-div {
    align-items: center;
    justify-content: center;
    display: flex;
}

.grid-parent2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.my-nav-tab .nav-tabs {
    border-bottom: 1px solid #decfbc !important;
    margin: 3rem 0 !important;
}

.my-nav-tab .nav-link {
    color: #b7ac9e !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
}

.my-nav-tab .nav-link.active {
    background: none !important;
    border-bottom: 3px solid #e63f2f !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    color: #2b2a2a !important;
    border-radius: 0 !important;
}

.grid-parent2>div {
    margin: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.grid-parent2>div .hover-box {
    bottom: -100%;
}

.grid-parent2>div:hover .hover-box {
    background: url(img/cardOverlay.png);
    bottom: 0;
    opacity: 90%;

}

.why-choose-us {
    background: url(img/banner4.png) no-repeat;
    background-size: cover;
}

.why-choose-us-content {
    padding: 5rem 0;
}

.reasons {
    margin: 5rem 0px;
    display: inline-flex;
}

.reasons>div {
    margin: 0 2px 0 0;
    padding: 3rem 2rem;

}

.reasons>div:nth-child(2n+1) {
    background-color: #fffcee;
}

.reasons>div:nth-child(2n) {
    background-color: #f4ffe5;
    border-right: 1px solid transparent;
}

.how-we-do {
    background: url(img/howWeDo.png) no-repeat;
    background-size: cover;
}

.how-we-do .inner-content {
    padding: 5rem 0 28rem 0;
}

.how-we-do .steps {
    margin: 5rem 0;
        display: flex;
        justify-content: center;
}


.faq-container {
    padding: 5rem 0;
}

.faq-container .row {
    margin: 1rem 0;
}

.faq-container .accordion-item {
    border-left: none !important;
    border-right: none !important;
}

.faq-container .accordion-button {
    font-size: 22px !important;
    border: none !important;
    font-weight: 200;
}

.faq-container .accordion-button::after {
    content: "+" !important;
    background: none !important;
}

.faq-container .accordion-button:not(.collapsed)::after {
    content: "-" !important;
}

.faq-container .accordion-button:not(.collapsed) {
    color: #ef375d !important;
    background-color: #fff !important;
    box-shadow: none !important;

}













.testimonial {
    background-color: #f3e8db;
}

.testimonial-container {
    padding: 5rem 0;
}

.contol-btns .carousel-control-prev,
.contol-btns .carousel-control-next {
    position: static;
    display: inline-block;
    padding: 0.6rem 1rem 0.4rem;
    background: linear-gradient(133deg, #fa1d8f, #175ead);
    opacity: 100%;
    width: auto;
    border-radius: 0 !important;
    margin: 0 1rem !important;
}
.carousel-inner {
    margin: 2rem 0;}

.user-card {
    background: #fff;
    border: 1px solid #eaeaea;
    padding: 1rem 2rem;
}

.review-part {
    border-bottom: 1px solid #eaeaea;
    height: 10rem;
}

.review-part p {
    font-size: 24px;
    font-weight: 300;
}

.user-part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-part div {
    padding: 1rem;
}

.user-part div p:nth-child(1) {
    margin: 0;
    font-size: 22px;
}

.user-part div p:nth-child(2) {
    margin: 0;
    font-weight: 100;
    font-size: 16px;
}

.news {
    background-color: #f4f4f4;
}

.news-container {
    padding: 5rem 0;
}

.news-col {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    margin: 3rem 0;
}

.news-col .hover-box {
    bottom: -80%;
    padding: 1rem;
}

.news-col:hover .hover-box {
    background: url(img/blogoverlay.png) no-repeat;
    bottom: 0;
    opacity: 90%;

}
.news-col:hover .hover-box .white-desc {
    display: block;}
.news .date {
    font-size: 14px;
    color: #fff;
    margin: 0 !important;
}



.contact-us {
    background: url(img/con-us.png) no-repeat;
    background-size: cover;
}

.contact-us-container {
    padding: 5rem 0;
}

.contactus-left {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.booking-form2 form {
    padding: 2rem 0;
}

.booking-form2 .booking-form-input {
    border-bottom: 1px solid #9e42c9;
    margin-bottom: 2rem;
}

.booking-form-input::placeholder,
.booking-form2 form textarea::placeholder {
    font-weight: 200 !important;
}

.booking-form2 form textarea {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #ae80c4;
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
}

.booking-form2 form textarea {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.booking-form2 form textarea:focus {
    border-bottom: 2px solid #fa1d8f !important;
}


.footer {
    background-color: #2d2e42;
}

.main-footer {
    border-bottom: 1px solid #404152;
    padding: 6rem 0;
}

.main-footer .left-side {
    border-right: 1px solid #404152;
    padding: 0 10rem 0rem 0;
}

.main-footer .left-side img {
    margin-bottom: 2rem;
}

.main-footer .head-desc {
    font-size: 22px;
}

.main-footer .desc {
    color: #9fa0b1;
}

.main-footer .right-side ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-footer .right-side ul li {
    margin: 1rem 0;
}

.main-footer .right-side .contact-info-col {
    display: flex;
    align-items: center;

}

.main-footer .right-side .contact-info-col .desc {
    margin: 0 0 0 6px;
}


.sub-footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.sub-footer-icons img {
    margin: 0 10px 0 0;
}

.terms,
.terms:hover {
    color: #9899a9;
    text-decoration: none;
    margin: 0;
    font-size: 14px;
}

.Privacy,
.Privacy:hover {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin: 0 1rem;
    border-left: 1px solid #9899a9;
    border-right: 1px solid #9899a9;
    padding: 0px 1rem;
}

@media screen and (max-width:1499px) {

    .news-col .hover-box {
        bottom: -65%;
    }

    .banner {
        padding: 8rem 0 13rem 0;
    }

    .review-part {
        height: 15rem;
    }
}

@media screen and (max-width:1399px) {
    .my-container {
        max-width: 90%;
    }

    .news-col .hover-box {
        bottom: -70%;
    }

    .big-h1 {
        font-size: 76px !important;
    }
}


@media screen and (max-width:1199px) {
    h1 {
        font-size: 3.4rem !important;
    }

    .desc {
        font-size: 16px;
    }

    h4 {
        font-size: 36px !important;
    }

    button {
        padding: 1.2rem 1.5rem;
    }

    .head-desc {
        font-size: 24px;
    }

    .my-nav .container-fluid {
        padding: 0;
    }

    .booking-form form {
        padding: 0 20px 0 50px;
    }

    .my-nav .navbar-nav {
        margin: 0;
        justify-content: center;
    }

    .banner {
        padding: 2rem 0 13rem 0;
    }

    .big-h1 {
        font-size: 64px !important;
    }


    .banner-two .col-lg-6 {
        padding: 5rem 0;
    }

    .reasons>div {
        margin: 0 0px 2px 0;
        width: 80%;
    }

    .reasons {
        margin: 5rem 0px;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .grid-parent {
        grid-template-columns: 1fr 1fr;
    }

    .review-part p {
        font-size: 20px;
    }

    .user-part div p:nth-child(1) {
        font-size: 16px;
    }

    .user-part div p:nth-child(2) {
        font-size: 14px;
    }

    

    .how-we-do .inner-content {
        padding: 5rem 0 10rem 0;
    }

    .news-col .hover-box {
        bottom: -65%;
    }

    .main-footer .left-side {
        padding: 0 10px 0 0;
    }

    .main-footer {
        padding: 4rem 0;
    }
}

@media screen and (max-width:992px) {
    .navbar-collapse {
        background: rgba(255, 255, 255, 0.98);
        padding: 1rem;
        top: 50px;
        width: 100%;

    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    .my-nav .navbar-call-btn {
        font-size: 18px !important;
        padding: 1rem 0;
    }

    .booking-form {
        margin-top: -8rem;
        padding: 1.4rem;
    }

    .booking-form br {
        display: none;
    }

    .booking-form form {
        padding: 1rem;
    }

    .submit-btn-col {
        text-align: center;
    }

    .gallery h1 {
        font-size: 2rem !important;
    }

    h1 {
        font-size: 2.8rem !important;
        padding: 0 0 1rem 0;
    }

    .banner-two .col-lg-6 {
        padding: 3rem 0;
    }
    .how-we-do {
        background-position: 39%;}
    .how-we-do .my-container{
        max-width: 100%;
    }

    .how-we-do .inner-content {
        padding: 3rem 1rem;
        background: #00000057;
    }

    .carousel-item .col-lg-4 {
        margin: 1rem;

    }

    .review-part {
        height: auto;
    }

    .news-col .hover-box {
        bottom: -80%;
    }

    .banner-two .col-lg-6 {
        padding: 3rem 0;
    }
}

@media screen and (max-width:769px) {

    .grid-parent {
        grid-template-columns: 1fr;
    }

    .grid-parent2 {
        grid-template-columns: 1fr;
    }

    .booking-form2 form .booking-form-input::placeholder,
    .booking-form2 form textarea::placeholder {
        color: #fffcee !important;
        font-weight: 500;
    }

    .booking-form2 form textarea {
        padding: 15px;
    }

    .main-footer .left-side {
        padding: 0 15px;
    }

    .hover-box {
        bottom: -90%;
    }

    .news-col .hover-box {
        bottom: -68%;
    }

    .Privacy,
    .Privacy:hover {
        color: #9899a8;
        padding: 0px 1rem;
        border: none;
    }

    .contol-btns {
        justify-content: space-between;
        display: flex;
    }

    .contol-btns button {
        margin: 0;
    }
   
}

@media screen and (max-width:575px) {
    h1 {
        font-size: 2.4rem !important;
    }

    button {
        padding: 1rem 1.5rem;
        font-size: 14px !important;
    }
    .head-desc {
        font-size: 20px;
    }
    .welcome-content,
    .why-choose-us-content,
    .our-projects,
    .faq-container,
    .news-container,
    .testimonial-container,
    .grid-parent {
        padding: 3rem 0;
    }

    .carousel-item .col-lg-4 {
        margin: 1rem 0;
    }

    .news-col .hover-box {
        bottom: -60%;
    }

    .faq-container .accordion-button {
        font-size: 20px !important;
        padding: 1rem 0;
        margin: 0;
    }

    .faq-container .accordion-body {
        padding: 1.2rem 0;
        font-size: 14px;
    }

    .view-all-btn-div {
        justify-content: left;
    }

    .reasons {
        margin: 1rem 0;
    }

    .reasons>div {
        width: 100%;
    }

    .my-nav-tab .nav-link {
        font-size: 13px !important;padding: 0.5rem !important;
    }
    .review-part p {
        font-size: 18px;
    }
    .booking-form-input {
        padding: 10px 0px;
    }
    .faq-container .row {
        margin: 2rem 0;
    }
.booking-form2 form textarea {
    height: auto;padding: 0px;}

    .reasons>div {
        padding: 1rem ;
    }
    .banner-two {
        background-position: 70%;}
        .herosection {
            background-position: 50%;}
}